.btn {
  border-radius: var(--radius100);
  background: var(--color-btn-gradient);
  box-shadow: var(--box);
  padding: 28px 99px;

  white-space: nowrap;
  line-height: 100%;
  color: var(--color-text-btn);
}
