%font-24 {
  font: {
    family: var(--mon);
    size: clamp(18px, 16.11px + 0.41vw, 24px);
    weight: 400;
  }
}

%font-i24 {
  font: {
    family: var(--mon);
    size: 24px;
    weight: 500;
    style: normal;
  }
}

%font-32 {
  font: {
    family: var(--mon);
    size: clamp(24px, 21.48px + 0.55vw, 32px);
    style: normal;
    weight: 600;
  }
}

%font-38 {
  font: {
    family: var(--mon);
    size: clamp(32px, 30.11px + 0.41vw, 38px);
    weight: 700;
    style: normal;
  }
}

%font-48 {
  font: {
    family: var(--mon);
    size: 48px;
    weight: 800;
    style: normal;
  }
}

%font-50 {
  font: {
    family: var(--mon);
    size: clamp(36px, 31.59px + 0.96vw, 50px);
    weight: 600;
    style: normal;
  }
}

%font-80 {
  font: {
    family: var(--mon);
    size: clamp(48px, 37.92px + 2.19vw, 80px);
    weight: 800;
    style: normal;
  }
}
