@font-face {
	font-family: Inter;
	src: url(/fonts/InterRegular.woff2) format('woff2');
	font-weight: 400;
	font-display: swap;
  font-style: normal;
}

@font-face {
	font-family: Montserrat;
	src: url(/fonts/MontserratRegular.woff2) format('woff2');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: Montserrat;
	src: url(/fonts/MontserratMedium.woff2) format('woff2');
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: Montserrat;
	src: url(/fonts/MontserratSemiBold.woff2) format('woff2');
	font-weight: 600;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: Montserrat;
	src: url(/fonts/MontserratBold.woff2) format('woff2');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: Montserrat;
	src: url(/fonts/MontserratExtraBold.woff2) format('woff2');
	font-weight: 800;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: Oswald;
	src: url(/fonts/OswaldRegular.woff2) format('woff2');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: Oswald;
	src: url(/fonts/OswaldMedium.woff2) format('woff2');
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: Hexcore;
	src: url(/fonts/Hexcore.woff2) format('woff2');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: JandaHappyDay;
	src: url(/fonts/JandaHappyDay.woff2) format('woff2');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: PlaywriteNZGuidesRegular;
	src: url(/fonts/PlaywriteNZGuidesRegular.woff2) format('woff2');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}
