@use '../../../../scss/settings/mixins-flex.scss' as *;
@use '../../../../scss/settings/extend.scss' as *;

.mypath {
  &__block {
    @include flex(flex, space-between, flex-start);
    column-gap: 50px;

    &:not(:last-child) {
      margin-bottom: 100px;
    }

    &:nth-child(4) {
      margin: {
        top: clamp(32px, 16.88px + 3.29vw, 80px);
      }
    }

    &:nth-child(3) {
      background-color: var(--color-back);
      border-radius: var(--radius30);
      padding: clamp(35px, 30.27px + 1.03vw, 50px)
        clamp(24px, 9.51px + 3.15vw, 70px);
    }
  }

  &__image {
    min-width: clamp(375px, 423.66px + -2.53vw, 412px);
    min-height: clamp(500px, 565.75px + -3.42vw, 550px);

    img {
      border-radius: 30px;
      overflow: hidden;
    }
  }

  &__text {
    margin: 0;
    @extend %font-24;
    line-height: 1.5;

    &:nth-child(1) {
      margin: {
        bottom: 32px;
      }
    }
  }
}

@media (max-width: 1060px) {
  .mypath {
    &__block {
      flex-direction: column;
      align-items: center;
      row-gap: 40px;
      column-gap: 0;
    }

    &__image {
      img {
        min-width: 100%;
      }
    }
  }
}
