.hero {
  width: 100%;
  height: clamp(755px, 968.04px + -11.1vw, 917px);
  margin-bottom: clamp(96px, 59.45px + 7.95vw, 212px);
  border-radius: var(--radius30);
  position: relative;

  padding: {
    top: clamp(89px, 65.05px + 5.21vw, 165px);
    left: clamp(24px, -4.67px + 6.23vw, 115px);
    right: 10px;
  }

  background: {
    image: url('../../../../assets/img/hero/hero-bg/hero-bg.webp');
    size: cover;
    repeat: no-repeat;
    position: 100% 100%;
    color: var(--color-global-bg);
  }

  @media (max-width: 900px) {
    background: {
      image: url('../../../../assets/img/hero/hero-bg/hero-bg-900.webp');
    }
  }

  @media (max-width: 750px) {
    &__wrapper-btn {
      width: 100%;
      position: absolute;
      border-radius: var(--radius30);
      display: flex;
      justify-content: center;
      align-items: center;
      left: 50%;
      transform: translateX(-50%);
      bottom: -20px;
      z-index: 1;
      background-color: var(--color-btn);
      padding: 20px 0;
    }
  }

  @media (max-width: 500px) {
    background: {
      image: url('../../../../assets/img/hero/hero-bg/hero-bg-500.webp');
    }

    &__wrapper-btn {
      padding: 40px 0;
    }
  }
}
