@use '../../../scss/settings/extend' as *;

.main {
  padding-top: 40px;
}

.mypath {
  width: 800px;
  height: 500px;

  &__section {
    margin: {
      bottom: clamp(200px, 121.23px + 17.12vw, 450px);
    }
  }

  &__title {
    width: 50%;
    margin: 0;
    @extend %font-38;
    color: var(--color-white);
  }

  &__button {
    @extend %font-i24;
    color: var(--color-text-btn);
  }
}

.block-svg {
  flex-direction: row-reverse;
  position: relative;

  & > .mypath__image {
    width: auto;
    min-height: auto;
    position: absolute;
    bottom: 70px;
  }
}

.text-svg {
  width: 65%;
}

@media (max-width: 1060px) {
  .block-svg {
    & > .mypath__image {
      position: static;
    }
  }

  .text-svg {
    width: 100%;
  }
}

@media (max-width: 885px) {
  .mypath {
    &__section {
      flex-direction: column;
      row-gap: 30px;
    }

    &__title {
      width: 100%;
    }
  }
}
